#hero-image {
    background-image: linear-gradient(25deg, #d63384ad, rgba(128, 128, 128, 0.384)),
        url(https://picsum.photos/id/29/1200/950);
    height: 350px;
    text-align: center;
    color: white;
}

#hero-header-hr {
    border: 2px solid #D63384;
    opacity: 80%;
    width: 50%;
}

#about-me-columns {
    text-align: center;
}

#footer {
    height: 150px;
}

#email-button, #linkedin-button, #github-button{
    height: 45px;
    width: 45px;
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
}

#linkedin-button:hover, #github-button:hover {
    cursor: pointer;
}

#contact-hr {
    border: 1px solid #D63384;
    width: 300px;
}

#nav-links a:hover {
    color: #D63384;
    text-transform: uppercase;
    text-decoration: overline;
}

#nav-logo {
    height: 50px;
    width: 50px;
}

#about-me-header, #skills-header, #projects-header {
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 6.5s steps(80, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}